.welcome_section {
  height: 100vh;
  text-align: center;
  margin-top: 65px;
}

.welcome_words {
  font-family: Gilroy, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  margin: 0 8% 48px 8%;
}

.welcome_words span {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.navigation {
  width: 100%;
  position: relative;
}

.navigation img {
  width: 100%;
  height: auto;
}

.nav_btn {
  position: absolute;
  top: 50%;
  width: inherit;
  display: grid;
  grid-column-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.nav_btn button {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  padding: 30px 0;
}

.btn {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.tooltip {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  text-align: center;
}

.tooltip:not(:hover) {
  display: none;
}

.nav_btn button:hover {
  background: rgba(255, 255, 255, 0.4);
  transition-property: background;
  transition-duration: 0.5s;
}

.nav_btn button:hover .btn {
  display: none;
}

.nav_btn button:hover .tooltip {
  display: block;
}

.nav_btn button:active {
  background: rgba(121, 121, 121, 0.4);
  transition-property: background;
  transition-duration: 0.1s;
}

@media (max-width: 1430px) {
  .nav_btn {
    top: 0;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

@media (max-width: 1020px) {
  .nav_btn {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 720px) {
  .nav_btn {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
