.contacts_container {
  margin-bottom: 135px;
}

.msg {
  margin-bottom: 48px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.msg span {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.contacts p {
  margin-bottom: 8px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
}

.address {
  max-width: 340px;
  width: 100%;
}

.address div {
  margin-bottom: 48px;
}

.address span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.social_links {

}

.social_links img {
  cursor: pointer;

  margin-right: 8px;
  width: 30px;
  height: auto;
}

.social_links img:hover {
  border-radius: 15px;
  border: 1px solid black;
}



.time {
  max-width: 340px;
  width: 100%;
}

.time div {
  margin-bottom: 48px;
}

.time span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.quest_form {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quest_form span {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 24px;
}

.quest_form input {
  margin-bottom: 24px;
  height: 24px;
  border: 0;
}

.priv_policy {
  margin-bottom: 32px;
}

@media (max-width: 1130px) {
  .contacts {
    margin-left: 48px;
    margin-right: 8px;
    gap: 8px;
  }
}

@media (max-width: 900px) {
  .contacts {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 48px;
    margin-right: 8px;
  }
}

@media (max-width: 780px) {
  .contacts {
    flex-direction: column;
    align-items: center;
    margin-left: 48px;
    margin-right: 8px;
  }
}
